

@media screen and (max-width:767px) {

  .list-items {


    display: none;

  }




.nav-head>nav>.logo{

width:55% ;

}


}



@media (min-width:768px) and (max-width:10000px) {


  .menu a {


    display: none;

  }




}




@media screen and (max-width:500px) {

  .ft-display {
  
    flex-direction: column;
}

.section-3 .sec-3-2 .img-es {
  row-gap: 4rem;
}

  section>.background-image>.content-1{

width: 100%;
  display: flex;

  align-items: center;
  }
  
.background-image {

  display: flex;
  flex-direction: column;
}





section .background-image .content-1{
  margin-top: 2rem;


}


section .background-image .content-1 .sec-input{
  
  row-gap: .4rem;

}


section .sec-3 .sec3-start .sec3i-1 {
  width: 100%;
  height: 25rem;

}

section .sec-3 .sec3-start .sec3i-1 .sec3img {
  
 margin-top: 3rem;
  // float: right;
}


section .sec-3 .sec3-start .sec3-2 {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

section .sec-3 .sec3-start .sec3-2 .button-3 {
  
  justify-content: center;
}

section .sec-3 .sec3-start .sec3-2 .button-3 .but button {
  border: none;
  font-size: 0.5rem;
}


.section-2 .sec2-p1 {

  border-radius: 1rem;

  flex-direction: column;
  
  row-gap: 3rem;
  padding: 3rem 0rem;
}

.section-2 .sec2-p1 .s21 {
  width: 80%;
}

.section-2 .sec2-p1 .s21 h1 {
   
  text-align: center;
}


.section-2 .sec2-p1 .s22 {
  width: 90%;

}





.section-2 .sec2-p1 .s23 {
  width: 85%;
  
}





.section-2 .sec2-2 {
  
  width: 84%;
  
}


.section-2 .sec2-2 .sec2-21 {
  width: 90%;
}

.section-2 .sec2-2 .sec2-21 p {

  font-size: 1.5rem;
  
}


.section-2 .sec2-2 .sec2-22 h1 {

  font-size: 2.5rem;
  
}


.section-2 .sec2-2 .sec2-23 {
  width: 90%;
}






.section-2 .sec2-2 .sec2-22 {
  width: 90%;
}


.section-2 .sec2-3 {
  width: 18%;

}







.section-3 .sec3-1 {
  margin-top: 5rem;
  width: 90%;
  row-gap: 1.7rem;
 
}


.section-3 .sec3-1 .sec3-31 {
  width: 100%;
}




.section-3 .sec3-1 .sec3-31 p {

  font-size: 1.7rem;
 
}


.section-3 .sec3-1 .sec3-32 {
  width: 100%;
}



.section-3 .sec3-1 .sec3-32 h1 {
 
  font-size: 2.2rem;
  
}

.section-3 .sec3-1 .sec3-33 {
  width: 100%;
}


.section-3 .sec3-1 .sec3-33 h1 {

  font-size: 1.5rem;

}




.section-3 .sec3-3 {
   
  flex-direction: column;
}

.section-3 .sec3-3 .sec3-3p1 {
  text-align: center;

  width: 100%;
  
}

.section-3 .sec3-3 .sec3-3p1 .p-1 {
 
  margin-left: 0rem !important;

}

.section-3 .sec3-3 .sec3-3p1 .p-1 p {
  font-size: 1.8rem;
}

.section-3 .sec3-3 .sec3-3p1 .h1-1 h1 {
  font-size: 2.5rem;
}

.section-3 .sec3-3 .sec3-3p1 .h6-1 h4 {
  font-size: 1.8rem;
}


.section-3 .sec3-3 .sec3-3p1 .h6-2 {
  margin-top: 1rem;
  

}

.section-3 .sec3-3 .sec3-3p1 .h6-2 h4 {
  font-size: 1.8rem;
}



.section-3 .sec3-3 .sec3-3p2 {
  width: 100%;
  margin-top: 3rem;
}


.section-4 {

  margin: 0rem; 
 
  padding: 4rem 0rem 5rem 0rem;
 
}


.section-4 .section-4-p1 {
 
  width: 86%;
  flex-direction: column;
  text-align: center;
}

.section-4 .section-4-p1 .section-4-p1-1 {
  width: 100%;
 
}




.section-4 .section-4-p1 .section-4-p1-1 .section-4-p1-1-first {
  margin-left: 0rem;

  font-size: 1.5rem;
 
}





.section-4 .section-4-p1 .section-4-p1-1 .section-4-p1-1-second {
  font-size: 2rem;
    line-height: 3rem;
  margin-top: 1.2rem;
}

.section-4 .section-4-p1 .section-4-p1-2 {

  width: 100%;
 
  margin-top: 1rem;
justify-content: center;
  align-items: center;

}



.section-4 .sec2-3 {
  width: 13%;
}




.section-4 .section-4-p3 {

  flex-direction: column;
     width: 90%;
  text-align: center;
}

.section-4 .section-4-p3 .section-4-p3-1 {
  width: 100%;
}

.section-4 .section-4-p3 .section-4-p3-1 .h5-1 {
 
   margin-left: 0rem;
  font-size: 1.5rem;
}

.section-4 .section-4-p3 .section-4-p3-1 .tick1-out {

  column-gap: 0rem;
 
}


.section-4 .section-4-p3 .section-4-p3-1 .tick1-out .tick1 {
 
  width: 40%;
}


.section-4 .section-4-p3 .section-4-p3-1 .tick1-out .hp-1 h5 {
  font-size: 1.5rem;

}

.section-4 .section-4-p3 .section-4-p3-1 .tick1-out .hp-1 p {
  font-size: 1rem;
 overflow: hidden;
  line-height: 1.1rem;
}

.section-4 .section-4-p3 .section-4-p3-1 .tick2-out {
 
 column-gap: 1rem; 
 
}

.section-4 .section-4-p3 .section-4-p3-1 .tick2-out .tick2 {
  width: 40%;
}


.section-4 .section-4-p3 .section-4-p3-1 .tick2-out .hp-2 .h5-3 {
  font-size: 1.5rem;
 
}

.section-4 .section-4-p3 .section-4-p3-1 .tick2-out .hp-2 .p-2 {
  font-size: 1rem;
overflow: hidden;
  line-height: 1.1rem; 
}




.section-4 .section-4-p3 .section-4-p3-2 {
   
  border-radius: 1.4rem;
  width: 100%;
  padding: 1.2rem;
  margin-top: 4rem;
}

.section-4 .section-4-p3 .section-4-p3-2 .h3-1-out .h3-1 {
  font-size: 1rem;
  text-align: left;
}

.section-4 .section-4-p3 .section-4-p3-2 .h3-1-out .span-img1 {
  width: 8%;
}

.section-4 .section-4-p3 .section-4-p3-2 .p-3-out .p-3 {
  font-size: .8rem;
}

.section-4 .section-4-p3 .section-4-p3-2 .h3-2-out .h3-2 {
  font-size: 1rem;
  text-align: left;
}

.section-4 .section-4-p3 .section-4-p3-2 .h3-2-out .span-img2 {
  width: 8%;
}

.section-4 .section-4-p3 .section-4-p3-2 .h3-3-out .h3-3 {
  font-size: 1rem;
  text-align: left;
}

.section-4 .section-4-p3 .section-4-p3-2 .h3-3-out .span-img3 {
  width: 8%;
}



.section-4 .section-4-p3 .section-4-p3-2 .h3-4-out .h3-4 {
  font-size: 1rem;
  text-align: left;
}

.section-4 .section-4-p3 .section-4-p3-2 .h3-4-out .span-img4 {
  width: 8%;
}




.sec-5 .sec-5-p1 {
 
  padding: 2rem;
}




.sec-5 .sec-5-p1 .sec5-backcolor {
 
  width: 100%;

  padding: 2rem;
  border-radius: 1.5rem;
  flex-direction: column;
}


.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-first {
  width: 100%;
 
  row-gap: 1.2rem;
}
.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-first p {
  
  font-size: 1rem;
  margin-left: 0rem;
 
  width: 100%;
  text-align: center;
}




.sec-5 .sec-5-p1 {
 
  padding: 2rem;
}

section .background-image .content-1-image {
   
  height: 23rem;
 
}


.sec-5 .sec-5-p1 .sec5-backcolor {
 
  width: 100%;

  padding: 2rem;
  border-radius: 1.5rem;
  flex-direction: column;
}


.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-first {
  width: 100%;
 
  row-gap: 1.2rem;
}
.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-first p {
  
  font-size: 1rem;
  margin-left: 0rem;
 
  width: 100%;
  text-align: center;
}



.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-second {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  column-gap: 0rem;
  flex-direction: column;
  row-gap: .5rem;
  margin-top: 2rem;
}


.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-second input {
  width: 100%;
  
  padding: 0.5rem .7rem;
 
  font-size: .9rem;
  
  align-items: center;
  text-align: center;
}


.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-second button {
  font-size: .9rem;
 
  width: 100%;

  padding: 0.5rem .7rem;
 
  text-align: center;
  font-weight:100;
}





.sec-5 .sec-5-p1 .sec5-backcolor .sec5-p1-first h1 {

  font-size: 1.5rem;

}



.sec-5 .sec-5-p2 .sec-5-p2-1 {
   
  row-gap: 1.5rem;
}


.sec-5 .sec-5-p2 .sec-5-p2-1 p {

  font-size: 1.8rem;
  text-align: center;
}

.sec-5 .sec-5-p2 .sec-5-p2-1 h1 {
  font-size: 2.6rem;
 text-align: center;
}



.sec-5 .sec2-3 {
    

  width: 12vw;
}





.sec-6-start .sec6-6 {
   
  flex-direction: column;
  align-items: center;
}

.sec-6-start .sec6-6 .sec6-6p1 {

  width: 90%;

  flex-direction: column;
  padding:0rem;
  text-align: center;
}

.sec-6-start .sec6-6 .sec6-6p1 .h3-1 {
 
 margin-left: 0rem; 
}

.sec-6-start .sec6-6 .sec6-6p1 .h3-1 h3 {
  margin-left: 0rem; 
  font-size: 1.5rem;
}


.sec-6-start .sec6-6 .sec6-6p1 .h1-1 h1 {
  font-size: 2.5rem;
}


.sec-6-start .sec6-6 .sec6-6p2 {
  width: 100%;

  flex-direction: column;
  margin-top: 3rem;
}



.sec-6-start .sec6-6 .sec6-6p2 .sec6-6p2-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
}



.sec-6-start .sec6-6 .sec6-6p2-2 {
  width: 100%;
  display: flex;
  align-items: center;
}









.section-7 {
  padding-bottom:2rem;
   margin: 2rem 0rem;
 
}

.section-7 .section-7-p1 {

   width: 80%;
row-gap: 1rem;
   
   margin-top: 3rem;
   flex-direction: column;
}

.section-7 .section-7-p1 .section-7-p1-1 {
   width: 100%;
   text-align: center;
}

.section-7 .section-7-p1 .section-7-p1-1 .section-7-p1-1-first {
    margin-left: 0rem;
  
    font-size: 1.4rem;
}




.section-7 .section-7-p1 .section-7-p1-2 {
  
  width: 100%;
  justify-content: center;
}


.section-7 .section-7-p1 .section-7-p1-2 button {

  width: 100%;
 
}




.sec8-start .sec8-div-size {
margin-top: 0rem;
  width: 90%;

  flex-direction: column;
}


.sec8-start .sec8-div-size .sec8-p1 {
  width: 100%;
  margin: 1rem 0rem 3rem 0rem;
}
.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-1 h4 {
  text-align: center;
margin-left: 0rem;
}

.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-2 h1 {

  text-align: center;
}



.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-3 {

  flex-direction: column;
}


.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-3 .sec8-p1-3-1 {
  width: 100%;
  margin-top: 2.5rem;

}

.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-3 .sec8-p1-3-1 .sec8-p1-3-1-1 {

  flex-direction: column;
align-items: center;
  row-gap: .5rem;
}






.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-3 .sec8-p1-3-1 .sec8-p1-3-1-1 .img {
  width: 15%;
}



.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-3 .sec8-p1-3-1 .sec8-p1-3-1-1 .h4np-1 {
 
  align-items: center;
row-gap: 0.4rem;
}


.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-3 .sec8-p1-3-1 .sec8-p1-3-1-1 .h4np-1 h4 {
  font-size: 1.3rem;
  text-align: center;
}

.sec8-start .sec8-div-size .sec8-p1 .sec8-p1-3 .sec8-p1-3-1 .sec8-p1-3-1-1 .h4np-1 p {
  font-size: 0.9rem;
  text-align: center;
}





.sec8-start .sec8-div-size .sec8-p2 {
   
  width: 100%;
  
  justify-content: center;

}

.sec8-start .sec8-div-size .sec8-p2 .sec8-p2-start .input-name input {
 
  width: 100%;
  font-size: .8rem;
}



.sec8-start .sec8-div-size .sec8-p2 .sec8-p2-start .input-email input {

  width: 100%;
  font-size: .8rem;
}


.sec8-start .sec8-div-size .sec8-p2 .sec8-p2-start .input-subject input {

  width: 100%;
  font-size: .8rem;
}


.sec8-start .sec8-div-size .sec8-p2 .sec8-p2-start .input-msg textarea {

  width: 100%;
  font-size: .8rem;
}
.sec8-start .sec8-div-size .sec8-p2 .sec8-p2-start .input-button button {

  width: 100%;
  font-size: .8rem;
}



footer .backcolor .inside {
 
  height: 80%;
}




.ft-para p {
  font-size: .9rem;
}



.ft-para {
  text-align: center;
  padding: .5rem .5rem;

  width: 94%;
 
}



  
}




// Phone Responsive Queries End





@media screen and (max-width:501px) {
  
section .background-image .content-1 .sec-para1{
  display: flex;
  justify-content: center; 
  width: 100%;

}

section>.background-image .content-1>.sec-para1>h1{

width: 90%;
// font-size: 2rem;
text-align: center;

}


section .background-image .content-1 .sec-para2{
  display: flex;
  justify-content: center; 
  width: 100%;
// font-size: 1.4rem;
height: auto;
}

section .background-image .content-1 .sec-para2>p{

  width: 85%;
  height: auto;
  // font-size: .8rem;
}


section .background-image .content-1 .sec-input{

display: flex;
flex-direction: column;
// row-gap: 2vh;
align-items: center;

}
section .background-image .content-1 .sec-input>span{

width: 80%;

}



section .background-image .content-1 .sec-input>span>input{

flex-grow: 1;
text-align: center;
}
section .background-image .content-1 .sec-input>button{

  flex-grow: 1;
width: 80%;
height: 2rem;


}



section .background-image .content-1 .sec-para4{

display: flex;
justify-content: center;
width: 80%;
}


 
}











@media (min-width:501px) and (max-width:10000px) {
  section>.ftlogo>.half {


    display: none; 

  }
}


@media screen and (max-width:500px) {

  section>.ftlogo>.full {

    display: none;

  }

 
img{
  height: auto;
}
}



@media screen and (max-width:500px) {


  .img-es,.sec3-start{

    flex-wrap: wrap;
  }  

}



@media  (min-width:501px) and (max-width:852px) {
 




section .background-image .content-1 .sec-input>button{
  width: 40%;
padding: 5px;
height: 100%;

}



}

@media screen and (min-width:1000px) {




  section .background-image>.content-1-image>img{

width: 70%;
height: auto;

  }
}

@media screen and (min-width:1430px) {

  section .background-image>.content-1-image>img{

width: 55%;
height: auto;

  }




}


