
.sec-6-start{

    display: flex;
    justify-content: center;
    // flex-direction: column;
    // align-items: center;
  
  .sec6-6 {
    margin-top: 4rem;
    width: 90%;
    display: flex;
  
    .sec6-6p1 {
      /* border: 2px solid red; */
      width: 47%;
      display: flex;
      flex-direction: column;
      padding: 2rem 2rem;
      /* padding-top: 50px; */
  
      .h3-1 {
  
        color: #3BAF3F;
        /* font-weight: 200; */
        margin-left: 3rem;
    
        h3{

          color: #3BAF3F;
          /* font-weight: 200; */
          margin-left: 3rem;
      
        }
  
      }
  
      .h1-1 {
        margin-top: 1.3rem;
        /* font-size: 1.6rem; */
       
h1{

  font-size: 2rem;
}

        span{
  
          color: $backcolor;
        }
      }
  
      .p6-1 {
          /* font-size: 1rem; */
    color: #63656E;
    margin-top: 3rem;
  p{

    font-size: 1.1rem;
  }    
  }
  
      .p6-2 {
        margin-top: 1rem;
        color: #63656E;
        line-height: 1rem;
      
  p{
    font-size: 1.1rem;
    line-height: 1.4rem;
    overflow: hidden;
  }
  
      }
  
    }
  
  
    .sec6-6p2 {
      width: 53%;
      /* border: 2px solid green; */
      display: flex;
      // -moz-column-gap: 30px;
      column-gap: 1rem;
     
      .sec6-6p2-1{

        width: 45%;
        display: flex;
        flex-direction: column;

      }
  .sec6-6p2-1-backdiv{
    background-image: url(https://images.stockcake.com/public/7/2/c/72c75796-faa1-40db-8d64-4654f2b7da9c/inspecting-solar-panels-stockcake.jpg);
    border-radius: 1rem;
    width: 100%;
    height: 21rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
  
  
  
    img{
  
      width: 62%;
      height: auto;
      margin-bottom: 20px;
    }
  
  }
  
  .sec6-6p2-1-img{
    width: 100%;
    height: auto;
    overflow: hidden;
  img{
  
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  }
  
  
      }
  
  
  
  
  .sec6-6p2-2{
    width: 45%;
    display: flex;
    align-items: center;
      .sec6-6p2-2-backdiv{
        
    background-image: url(https://images.stockcake.com/public/0/4/5/04531887-5cbf-41f3-a6f0-c77a464b9f2c_large/engineer-inspecting-solar-stockcake.jpg);
    border-radius: 1rem;
    width: 100%;
    height: 21rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
        
        
        
          img{
        
            width: 62%;
            height: auto;
            margin-bottom: 20px;
          }
        
        }
      }
      
    }
  
  
  
  
  
  
  
  }
  
  
  
  
  
  
  
  