$xl-screen:200%;
$mini-pad:47.5%;
$ipad-1:63.5%;
$ipad-pro:70.5%;
$mini-laptop:90.5%;
$laptop-view:100.5%;

$large-laptop-view:120.5%;
$xl-laptop-view:150.5%;

$fontcolor: #63656E;


$backcolor: #3BAF3F;
